
.about_container{
    margin-top: 100px;
    font-family: "Fredoka", sans-serif;

}

.about_wrapper{
margin: 40px;
}  

.description{
    margin-left: 20px;
}

.description h1{
    color: gold;
    font-weight: 900;
    font-family: "Fredoka", sans-serif;
}

